# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*                       @a2aproject/a2a-tsc
docs/                   @a2aproject/tech-writing
specification/          @a2aproject/a2a-tsc
types/                  @a2aproject/a2a-tsc
docs/specification.md   @a2aproject/a2a-tsc
GOVERNANCE.md           @a2aproject/a2a-tsc
.mkdocs.yml             @a2aproject/tech-writing

