# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*                       @a2aproject/google-a2a-eng
docs/                   @a2aproject/tech-writing
*.md                    @a2aproject/tech-writing
.mkdocs/                @a2aproject/tech-writing
.mkdocs.yml             @a2aproject/tech-writing
README.md               @a2aproject/tech-writing
requirements-docs.txt   @a2aproject/tech-writing
